<div class="container">
    <!-- Output -->
    <div class="output">
        {{update()}}
        <img src="assets/morning.png" *ngIf="chronotype=='morning'" [@inOutAnimation]>
        <img src="assets/afternoon.png" *ngIf="chronotype=='afternoon'" [@inOutAnimation]>
        <img src="assets/evening.png" *ngIf="chronotype=='evening'" [@inOutAnimation]>
        <img src="assets/night.png" *ngIf="chronotype=='night'" [@inOutAnimation]>

        <div class="div outcome">
            <div class="div chronotype">You are {{checkVowel(chronotype)}} {{chronotype}} type</div>
            <div class="div midsleephour">{{midsleephour | number:'1.0-1'}}</div>
        </div>
    </div>

    <!-- Input -->
    <div class="input">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5" style="text-align: center;">
                <p>Select your <strong>bedtime</strong> on vacation days:</p>
            </div>
            
            <div class="col-5" style="text-align: center;">
                <p>Select your <strong>wake&nbsp;time</strong> on vacation days:</p>
            </div>
        </div>
        <div class="row">

            <div class="col-6" style="text-align: center;">
                <ngb-timepicker [(ngModel)]="time_sleep_vac" [minuteStep]="15" [size]="'small'" (change)="update()"></ngb-timepicker>
            </div>
            
            <div class="col-6" style="text-align: center;">
                <ngb-timepicker [(ngModel)]="time_wake_vac" [minuteStep]="15" [size]="'small'" (change)="update()"></ngb-timepicker>
            </div>


        </div>
    </div>
</div>